.aanbevolen-prod-wrapper {
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.aanbevolen-prod-text {
    width: 85%;
    margin: 0 auto;
}

.aanbevolen-prod-text h1 {
    margin-bottom: 1rem;
}

.prod-items {
    display: flex;
    overflow-x: scroll; 
 
}