.arrowlink-img {
  display: inline-block;
  height: 10px;
  margin-left: 0.75rem;
}

.arrow-normal-text {
  display: inline;
  color: #7b3e19;
  font-size: 120%;
  font-family: "Poppins", sans-serif;
}

.arrow-elegant-text {
  display: inline;
  color: #494949;
  font-size: 100%;
  font-family: "Merriweather", sans-serif;
}
