.home h2 {
  margin-bottom: 0.3rem;
}

.home h1 {
  margin-bottom: 0.8rem;
}

.home p {
  color: #7e6a5c;
  margin-bottom: 2.5rem;
}

.section-plain {
  width: 85%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-image {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
}

.section-image-text {
  width: 85%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section-image-img img {
  width: 100vw;
  margin: 0;
}
