.home h2 {
  margin-bottom: 0.3rem;
}

.home h1 {
  margin-bottom: 0.8rem;
}

.home p {
  color: #7e6a5c;
  margin-bottom: 2.5rem;
}

.section-plain {
  width: 85%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.section-image {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
}

.section-image-text {
  width: 85%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.section-image-img img {
  width: 100vw;
  margin: 0;
}

.section-blog {
  background-color: white;
}

.aanbevolen-article {
  width: 85%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.aanbevolen-article-img {
  width: 85vw;
  border-radius: 3px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.aanbevolen-article h1 {
  font-size: 130%;
  font-weight: 200;
}

.aanbevolen-article p {
  font-size: 80%;
}

.section-questions-content {
  width: 85%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
