.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f6f6f6;
  overflow: hidden;
}

.loader {
  display: block;
  border: 2px solid #f6f6f6;
  border-radius: 100%;
  border-top: 2px solid #a37d64;
  border-right: 2px solid #a37d64;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 0.4s linear infinite; /* Safari */
  animation: spin 0.4s linear infinite;
  margin-left: 2px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
