.loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7e6a5c;
    overflow: hidden;
}

.loading-spinner {
    width: 65%;
}